<div class="outer-container">
    <div class="container-box">
        <div class="box-text">Enter your details</div>
        <div class="text-fields">
            <input class="input-field" type="text" placeholder="first name" autocomplete="none">
            <input class="input-field" type="text" placeholder="last name" autocomplete="none">
            <input class="input-field" type="email" placeholder="email" autocomplete="none">
            <input class="input-field" type="text" placeholder="number" autocomplete="none">
        </div>
        <button  class="next-button" type="button">Next</button>
    </div>
</div>
